bin/
include/
lib/
.DS_STORE
.python
*.py[cod]
pip-selfcheck.json
*.plist
users.json
src/matchmaker/settings/local.py
src/matchmaker/settings/production.py
src/matchmaker/old_settings.py
matchmaker.sublime-project
matchmaker.sublime-workspace
db.sqlite3
db2.sqlite3
deals.txt
webfaction/